/* Definição de todas as cores da página */
:root {
    --cor-primaria: brown ;
    --cor-secundaria: #2064f7;
    --cor-terciaria: yellow;
    --cor-quartenaria: #dddd9f;
    --cor-fundo: #f1f1d6;
}

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

body {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px; /* diferente de "button" */
    margin-right: 50px; 
    margin: 20px 50px 20px 50px; /* para fazer todos as margens na mesma linha, sentido hórario */
    text-align: justify;
    background-color:var(--cor-fundo);

}


.titulo-de-pagina {
    color:var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif

}

.titulo-de-artigo {
    color:var(--cor-secundaria);
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif

}

.titulo-de-secao {
    color:var(--cor-secundaria);
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif

}

.subtitulo-de-artigo {
    color: var(--cor-quartenaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin bottom: 10px;
}

p {
    color:var(--cor-primaria);
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color:var(--cor-quartenaria);
    padding: 10px 20px 0px 20px;
}

article {
    border: 8px double var(--cor-quartenaria);
    padding: 30px;
    margin: 30px 0;
    border-radius: 50px;
}

/* 
.menu-principal ul {
    background-color: var(--cor-primaria);
} */

.menu-principal li {
    color: var(--cor-quartenaria); 
}

.menu-principal a {
    color: var(--cor-quartenaria);
}

/* Para remover espaçamento de linhas de um paragrafo para outro */
p + .paragrafo-de-artigo {
    padding-top: 0;
}

/* unvisited link */
a:link {
    color: #2064f7;
}

/* visited link */
a:visited {
    color: #aa72ca;
}

/* mouse over */
a:hover {
    color: #0a1a3f;
}

/* selected link */
a:active {
    color: #00ffff;
}

/* Quando utilizar o fisrt-child o primeiro irmão pode ser 0 h1 */
#introducao p:first-of-type{
    border-radius: 20px 0 0 0;
}

/* Quando utilizar o last-child o ultimo irmão pode etrar em conflito com mais linhas  */
#introducao p:last-of-type{
    border-radius: 0 0 20px 0;
}